/* For use in src/lib/core/theming/_palette.scss */
$todo-blue: (
  50: #e1edfd,
  100: #b4d3fb,
  200: #82b6f9,
  300: #5098f6,
  400: #2b82f4,
  500: #056cf2,
  600: #0464f0,
  700: #0459ee,
  800: #034fec,
  900: #013de8,
  A100: #ffffff,
  A200: #dce3ff,
  A400: #a9baff,
  A700: #90a6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$todo-orange: (
  50: #fdeee1,
  100: #fbd5b4,
  200: #f9ba82,
  300: #f69e50,
  400: #f4892b,
  500: #f27405,
  600: #f06c04,
  700: #ee6104,
  800: #ec5703,
  900: #e84401,
  A100: #ffffff,
  A200: #ffe4dc,
  A400: #ffbda9,
  A700: #ffa990,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
