mat-divider {
  width: 100%;
}

.mat-dialog-container {
  padding: 0 !important;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Lato';
  }
}

.custom-toggle-group {
  .mat-button-toggle-label-content {
    line-height: 30px !important;
    width: 30px !important;
    font-size: 12px !important;
    padding: 0 !important;
  }

  .mat-button-toggle-checked {
    border: 1px solid blue !important;
    border-radius: 4px !important;
  }
}
