$mc-blue: (
  50: #e0f1ff,
  100: #b3ddff,
  200: #80c6ff,
  300: #4dafff,
  400: #269dff,
  500: #008cff,
  600: #0084ff,
  700: #0079ff,
  800: #006fff,
  900: #005cff,
  A100: #ffffff,
  A200: #f2f6ff,
  A400: #bfd2ff,
  A700: #a6c0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mc-pink: (
  50: #fee5ff,
  100: #fbbdff,
  200: #f991ff,
  300: #f765ff,
  400: #f544ff,
  500: #f323ff,
  600: #f11fff,
  700: #ef1aff,
  800: #ed15ff,
  900: #ea0cff,
  A100: #ffffff,
  A200: #fef6ff,
  A400: #f9c3ff,
  A700: #f7a9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
