mat-divider {
  width: 100%;
}

.mat-dialog-container {
  padding: 0 !important;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Poppins';
  }
}

.mat-button-toggle-label-content {
  line-height: 30px !important;
  width: 30px !important;
  font-size: 12px !important;
  padding: 0 !important;
}

.mat-option {
  height: 30px !important;
  line-height: 30px !important;
  font-size: 12px !important;
}

.mat-list-text {
  font-family: 'Poppins' !important;
  padding-right: 0 !important;
}

.mat-menu-panel {
  max-width: fit-content !important;
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-calendar-header {
  padding: 0 8px !important;
}
