@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

$config: mat-typography-config();

$typography: (
  display-4: mat-typography-level(112px, 112px, 600, 'Poppins', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 600, 'Poppins', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 600, 'Poppins', 0em),
  display-1: mat-typography-level(34px, 40px, 600, 'Poppins', 0.0074em),
  headline: mat-typography-level(24px, 32px, 300, 'Poppins', 0em),
  title: mat-typography-level(20px, 32px, 600, 'Poppins', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 300, 'Poppins', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 300, 'Poppins', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 600, 'Poppins', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 300, 'Poppins', 0.0179em),
  button: mat-typography-level(14px, 14px, 300, 'Poppins', 0.0893em),
  caption: mat-typography-level(12px, 20px, 300, 'Poppins', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 300, 'Poppins', 1.5px),
);
