@import '../../../../../styles/mixin';

.mat-icon-button {
  @include mat-icon-button-size(16px);
}

.mat-icon {
  color: #bebebe;

  &:hover {
    color: #008cff;
  }
}

.mc-time-selector {
  margin-left: 18px;
}

.close-button-container {
  padding: 0 6px 0 18px;
}
