<button mat-icon-button disableRipple="true" [matMenuTriggerFor]="dueDateMenu">
  <mat-icon tooltip="Due date">event</mat-icon>
</button>

<mat-menu #dueDateMenu="matMenu">
  <span
    fxLayout="row"
    fxLayoutAlign="end start"
    class="close-button-container"
    (click)="$event.stopPropagation()"
  >
    <mc-close-button (click)="closeMenu()" size="meduim"></mc-close-button>
  </span>

  <div (click)="$event.stopPropagation()" class="menu-container">
    <mat-calendar
      #cal
      [selected]="date"
      (selectedChange)="selectedDate($event)"
    ></mat-calendar>

    <mat-divider></mat-divider>

    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
      class="time-container"
    >
      <!-- <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          width="60"
          [min]="1"
          [max]="12"
          value="hour"
        />
      </mat-form-field>
      <strong>:</strong>
      <mat-form-field appearance="outline">
        <input matInput type="number" [min]="1" [max]="12" value="hour" />
      </mat-form-field> -->
      <mat-button-toggle-group name="timeSelect" vertical value="AM">
        <mat-button-toggle color="primary" value="AM">AM</mat-button-toggle>
        <mat-button-toggle color="primary" value="PM">PM</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</mat-menu>
