<button mat-icon-button disableRipple="true" [matMenuTriggerFor]="dueDateMenu">
  <mat-icon tooltip="Due date">event</mat-icon>
</button>

<mat-menu #dueDateMenu="matMenu">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="close-button-container"
    (click)="$event.stopPropagation()"
  >
    <span class="mat-small">
      <strong>{{ date | amDateFormat: 'MMM D' }}</strong>
      <strong *ngIf="time">@ {{ time }}</strong>
    </span>
    <mc-close-button (click)="closeMenu()" size="meduim"></mc-close-button>
  </div>

  <div (click)="$event.stopPropagation()" class="menu-container">
    <mc-date-selector
      [task]="task"
      (emitDate)="selectedDate($event)"
    ></mc-date-selector>
    <mc-time-selector
      [task]="task"
      (emitTime)="selectedTime($event)"
    ></mc-time-selector>
  </div>
</mat-menu>
