<mc-avatar
  [member]="ws.member$ | async"
  [matMenuTriggerFor]="userSettings"
></mc-avatar>
<mat-menu #userSettings>
  <span
    fxLayout="row"
    fxLayoutAlign="end start"
    class="close-button-container"
    (click)="$event.stopPropagation()"
  >
    <mc-close-button (click)="closeMenu()" size="meduim"></mc-close-button>
  </span>
  <ng-container *ngIf="ws.workspace$ | async as workspace">
    <div
      *ngIf="ws.member$ | async as member"
      class="menu-container mat-small"
      fxLayout="column"
      fxLayoutGap="12px"
      (click)="$event.stopPropagation()"
    >
      <ng-container *ngIf="member.isAdmin || member.isOwner">
        <a [routerLink]="['settings', 'workspace', 'team']">
          Manage Team
        </a>
        <mat-divider></mat-divider>
      </ng-container>

      <a [routerLink]="[workspace.uid, 'settings', 'profile']">My Settings</a>
      <a [routerLink]="[workspace.uid, 'notifications']">Notifications</a>
      <a (click)="logout()">Logout</a>
      <mat-divider></mat-divider>
      <mc-toggle (toggle)="darkMode($event)">Dark Mode</mc-toggle>
    </div>
  </ng-container>
</mat-menu>
