.form-container {
  width: 360px;
  background-color: #ffffff;
  padding: 30px 50px 50px;
  box-shadow: 0 25px 75px rgba(16, 30, 54, 0.25);
  border-radius: 6px;

  .form-title {
    text-align: center;
  }
}
