<div fxLayout="row" fxLayoutAlign="center center" class="task-row-container">
  <span class="task-row-drag">
    <mat-icon>drag_indicator</mat-icon>
  </span>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="task-row-info"
    fxFlex
  >
    <div [routerLink]="task.id" fxFlex class="mat-small task-row-name">
      {{ task.name }}
    </div>

    <div fxLayoutAlign="center center" fxLayoutGap="20px">
      <!-- TODO - Set these up -->
      <mc-task-priority
        [task]="task"
        (priority)="setPriority($event)"
      ></mc-task-priority>

      <button mat-icon-button disableRipple="true">
        <mat-icon tooltip="Edit tags">
          label_outline
        </mat-icon>
      </button>
      <!-- <button mat-icon-button disableRipple="true">
        <mat-icon tooltip="Assign">person_add_alt</mat-icon>
      </button> -->
      <mc-task-due-date
        [task]="task"
        (dueDate)="setDueDate($event)"
      ></mc-task-due-date>
    </div>
  </div>
</div>
