<div
  style="height: 100vh; background-color: #fafafa;"
  fxLayoutAlign="center center"
>
  <div
    style="
      width: 360px;
      background-color: #ffffff;
      padding: 30px 50px 20px;
      box-shadow: 0 25px 75px rgba(16, 30, 54, 0.25);
      border-radius: 6px;
    "
  >
    <h1 style="text-align: center;">Welcome back!</h1>
    <div fxLayout="column" fxLayoutGap="16px">
      <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- email -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="example@site.com"
            autocomplete="off"
          />
          <mat-error *ngIf="!email.value.length && email.touched">
            <mat-icon>warning</mat-icon> This field is required!
          </mat-error>
          <mat-error
            *ngIf="email.value.length >= 1 && email.touched && email.invalid"
          >
            <mat-icon>warning</mat-icon> Email address invalid!
          </mat-error>
        </mat-form-field>

        <button
          type="submit"
          style="
            margin: 6px 0 0;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            height: 50px;
            background: rgb(243, 35, 255);
            background: linear-gradient(
              90deg,
              rgba(243, 35, 255, 1) 0%,
              rgba(0, 140, 255, 1) 100%
            );
            color: #ffffff;
            font-size: 16px;
          "
        >
          <strong>Send me the link</strong>
        </button>
        <mat-error *ngIf="serverErrorMessage$ | async as err">{{
          err
        }}</mat-error>
      </form>
      <span fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
        <mat-divider fxFlex style="color: #ccc;"></mat-divider>
        <span class="mat-small" style="color: #ccc;">OR</span>
        <mat-divider fxFlex style="color: #ccc;"></mat-divider>
      </span>
      <button mat-button style="color: rgb(170, 170, 170);" routerLink="/login">
        Log in
      </button>
    </div>
  </div>
</div>
