.task-header {
  padding: 16px;
}

.task-container {
  padding: 24px;

  .task-name {
    input {
      box-sizing: border-box;
      font-size: 32px;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 12px;
      &:hover {
        border: 1px solid #bebebe;
      }
    }
  }
}
