<div fxLayout="row" fxLayoutAlign="start center" class="task-header">
  <span fxFlex></span>
  <mc-close-button (click)="close()" size="large"></mc-close-button>
</div>

<mat-divider></mat-divider>

<div
  class="task-container"
  fxLayout="row"
  fxLayoutAlign="start start"
  fxLayoutGap="12px"
>
  <mat-form-field class="task-name" appearance="none" fxFlex>
    <input
      matInput
      autocomplete="chrome-off"
      [(ngModel)]="task.name"
      value="{{ task.name }}"
    />
  </mat-form-field>
</div>
