<div class="mc-task-row-new__container">
  <div class="mc-task-row-new__left">
    <!-- TODO - mc-task-row-new-status -->
    <div class="mc-task-row-new__close">
      <mat-icon>close</mat-icon>
    </div>
    <div class="mc-task-row-new__main">
      <input type="text" placeholder="Task name" />
    </div>
  </div>
  <div class="mc-task-row-new__options">
    <!-- TODO - tags -->
    <!-- TODO - assign -->
    <!-- TODO - due date -->
    <!-- TODO - priority -->
    <div class="mc-task-row-new__button">SAVE</div>
  </div>
</div>
