<mc-avatar [matMenuTriggerFor]="userSettings"></mc-avatar>
<mat-menu #userSettings [overlapTrigger]="true">
  <div
    class="user-settings-menu--container mat-small"
    fxLayout="column"
    fxLayoutGap="12px"
    (click)="$event.stopPropagation()"
  >
    <mat-icon (click)="closeMenu()">close</mat-icon>
    <a [routerLink]="['USERID', 'settings', 'profile']">My Settings</a>
    <a [routerLink]="['USERID', 'notifications']">Notifications</a>
    <a (click)="logout()">Logout</a>
    <mat-divider></mat-divider>
    <mc-toggle (toggle)="darkMode($event)">Dark Mode</mc-toggle>
  </div>
</mat-menu>
