<mc-avatar [matMenuTriggerFor]="userSettings"></mc-avatar>
<mat-menu #userSettings>
  <div
    class="user-settings-menu--container mat-small"
    fxLayout="column"
    fxLayoutGap="10px"
    (click)="$event.stopPropagation()"
  >
    <a [routerLink]="['USERID', 'settings', 'profile']">My Settings</a>
    <a [routerLink]="['USERID', 'notifications']">Notifications</a>
    <a (click)="logout()">Logout</a>

    <mat-divider></mat-divider>

    <mat-slide-toggle disableRipple labelPosition="before" color="primary">
      Dark Mode
    </mat-slide-toggle>

    <mc-toggle [on]="true" (toggle)="toggle($event)">Dark Mode</mc-toggle>
  </div>
</mat-menu>
