<mc-auth-page-container>
  <mc-auth-form-container title="Reset Password">
    <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="example@site.com"
          autocomplete="off"
        />
        <mat-error *ngIf="!email.value.length && email.touched">
          <mat-icon>warning</mat-icon> This field is required!
        </mat-error>
        <mat-error
          *ngIf="email.value.length >= 1 && email.touched && email.invalid"
        >
          <mat-icon>warning</mat-icon> Email address invalid!
        </mat-error>
      </mat-form-field>

      <mc-main-button
        [primary]="true"
        [fullWidth]="true"
        type="submit"
        label="Send me the link"
        size="large"
      ></mc-main-button>

      <mat-error *ngIf="serverErrorMessage$ | async as err">
        {{ err }}
      </mat-error>
    </form>
    <mc-word-divider label="OR"></mc-word-divider>
    <button mat-button routerLink="/login">
      Log in
    </button>
  </mc-auth-form-container>
</mc-auth-page-container>
