<form
  fxLayout="row"
  fxLayoutAlign="start end"
  fxLayoutGap="8px"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field appearance="standard" class="email">
    <mat-label>Invite by email</mat-label>
    <input
      matInput
      formControlName="email"
      type="email"
      placeholder="example@site.com"
      autocomplete="off"
    />
    <mat-error *ngIf="!email.value.length && email.touched">
      <mat-icon>warning</mat-icon> This field is required!
    </mat-error>
    <mat-error
      *ngIf="email.value.length >= 1 && email.touched && email.invalid"
    >
      <mat-icon>warning</mat-icon> Email address invalid!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard" class="role">
    <mat-select formControlName="role" name="role">
      <mat-option *ngFor="let role of roles" [value]="role.type">
        {{ role.type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" fxFlexAlign="center" type="submit">
    Invite
  </button>
</form>
