.mat-icon {
  cursor: pointer;
  vertical-align: middle;
  color: #bebebe;
  transition: 0.2s ease-in-out;
  &:hover {
    color: #008cff;
    transform: rotate(90deg);
  }
}

.mc-close-button-small {
  .mat-icon {
    font-size: 12px;
    height: 12px;
    width: 12px;
  }
}

.mc-close-button-medium {
  .mat-icon {
    font-size: 22px;
    height: 22px;
    width: 22px;
  }
}

.mc-close-button-large {
  .mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
  }
}
