<div fxLayout="row" fxLayoutAlign="start stretch" style="height: 100%;">
  <!-- sidenav -->
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="mc-left-sidebar--container"
  >
    <div
      class="mc-left-sidebar--main"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      fxFlex
    >
      <h1>M</h1>
      <button mat-icon-button aria-label="home button">
        <mat-icon>home_outline</mat-icon>
      </button>
      <button mat-icon-button aria-label="tasks button">
        <mat-icon>check_box_outline</mat-icon>
      </button>
      <button mat-icon-button aria-label="notifications button">
        <mat-icon>notifications_outline</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="mc-left-sidebar--user">
      <mc-user-settings-menu></mc-user-settings-menu>
    </div>
  </div>

  <div style="background-color: #fdfdff; width: 100%; margin: 30px;">
    <ng-content></ng-content>
  </div>
</div>
