<div class="auth-page-container">
  <div
    class="auth-page-navbar"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="16px"
  >
    <div>
      <h3 routerLink="/">Misson Control</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
      <ng-container *ngIf="login; else signUp">
        <p>Don't have an account?</p>
        <mc-main-button
          label="Sign Up"
          size="medium"
          routerLink="/signup"
        ></mc-main-button>
      </ng-container>
      <ng-template #signUp>
        <p>Already have an account?</p>
        <mc-main-button
          label="Login"
          size="medium"
          routerLink="/login"
        ></mc-main-button>
      </ng-template>
    </div>
  </div>
  <div class="auth-page-form" fxLayoutAlign="center center">
    <ng-content></ng-content>
  </div>
</div>
