<div
  *ngIf="ws.workspace$ | async as workspace"
  fxLayout="row"
  fxLayoutAlign="start stretch"
  style="height: 100%;"
>
  <!-- sidenav -->
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="mc-left-sidebar-container"
  >
    <div
      class="mc-left-sidebar-main"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      fxFlex
    >
      <div fxLayoutAlign="center center" class="logo">
        <div></div>
      </div>
      <a
        [routerLink]="['/', workspace.uid, 'dashboard']"
        routerLinkActive="active"
        tooltip="Dashboard"
      >
        <svg class="home-icon" viewBox="0 0 24 24">
          <use xlink:href="assets/icons/home.svg#home" />
        </svg>
      </a>
      <a
        [routerLink]="['/', workspace.uid, 'tasks']"
        routerLinkActive="active"
        tooltip="Tasks"
      >
        <svg class="tasks-icon" viewBox="0 0 24 24">
          <use xlink:href="assets/icons/tasks.svg#tasks" />
        </svg>
      </a>
      <a
        [routerLink]="['/', workspace.uid, 'notifications']"
        routerLinkActive="active"
        tooltip="Notifications"
      >
        <svg class="notifications-icon" viewBox="0 0 24 24">
          <use xlink:href="assets/icons/notifications.svg#notifications" />
        </svg>
        <div routerLinkActive="active"></div>
      </a>
    </div>

    <mat-divider></mat-divider>

    <div class="mc-left-sidebar-user">
      <mc-user-settings-menu></mc-user-settings-menu>
    </div>
  </div>

  <!-- TODO - dark/light mode need more work -->
  <!-- TODO - remove all inline styles -->
  <div class="background-test" style="width: 100%; padding: 30px;">
    <ng-content></ng-content>
  </div>
</div>
