<button mat-icon-button disableRipple="true" [matMenuTriggerFor]="dueDateMenu">
  <mat-icon tooltip="Due date">event</mat-icon>
</button>

<mat-menu #dueDateMenu="matMenu">
  <div fxLayout="column" (click)="$event.stopPropagation()">
    <div class="due-date-header">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="8px"
        class="selected-container"
      >
        <span class="mat-small">{{ date | amDateFormat: 'D/M/YY' }}</span>
        <mc-close-button *ngIf="date" (click)="clearDate()"></mc-close-button>
        <mc-time-selector
          *ngIf="date"
          [dueDate]="dueDate"
          appearance="none"
          placeholder="Select time"
          (timeChange)="selectedTime($event)"
        ></mc-time-selector>
      </div>
    </div>

    <mc-date-selector
      [dueDate]="dueDate"
      (dateChange)="selectedDate($event)"
    ></mc-date-selector>
  </div>
</mat-menu>
